.CardItem {
    width: 500px;
    padding: 30px;
    margin: 30px;
    font-size: 14px;
    background-color: lightgray;
    border-radius: 10px;
}

.ContainerItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 25px;
}

.NameHeader {
    display: flex;
    justify-content: center;
}

.Info {
    font-size: 16px;
    display: flex;
    justify-content: space-around;
}

.InfoPrice{
    font-weight: bolder;
    font-size: 20px;
}


.Img {
    width: 300px;
    height: auto;
    object-position: center;
}