.CartWidget {
    padding: 12px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 12px;
    cursor: pointer;
    background-color: #11A8DC;
    height: 70px;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CartWidget:hover{
    transform: scale(1.1);
}

.CartImg {
    margin-right: 20px;
    width: 30px;
    margin-bottom: 20px;
}
