*{
    margin: 0;
    padding: 0;

}
.Navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #52D3FF;
}
.Titulo{
    color: black;
    text-decoration: none;
    margin-top: 25px;

}

.Titulo:hover{
    transform: scale(1.1);
    color: black;
}

.LinkItem{
    background-color: #11A8DC;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    color: black;
    text-decoration: none;    
    font-size: 16px;
    font-weight: bolder;

}

.LinkItem:hover{
    color: white;
    
}

.LinkCat{
    margin-top: 40px;
}




